* {
   margin: 0;
   padding: 0;
   font-family: Calibri;
}

nav {
   padding: 20px 0;
   background-color: #423939;
   border-bottom: 4px solid #02CFD2;
}

nav a {
   margin-left: 40px;
   color: white;
   text-decoration: none;
}

h1 {
   width: 50%;
   margin: 40px 0 40px 40px;
   padding: 40px;
   border-radius: 4px;
   background-color: #FFF3CD;
   color: #C3AC6A;
}

h2 {
   width: 50%;
   margin: 40px 0 40px 40px;
}

form {
   width: 50%;
   margin: 40px 0 40px 40px;
   padding: 40px;
   border: 1px solid #02CFD2;
   border-radius: 4px;
}

form div {
   margin: 20px;
}

form input, form select {
   width: 80%;
   height: 40px;
}

form button {
   margin: 20px;
   padding: 10px 60px;
   color: white;
   font-size: 18px;
   background-color:  #02CFD2;
   border: 1px solid #02b6b9;
   border-radius: 4px;
   outline: 0;
}

.error, .success {
   width: 50%;
   margin: 40px 0 40px 40px;
   padding: 40px;
   border-radius: 4px;
}

.error {
   background-color: #F8D7DA;
   color: #974F56;   
}

.success {
   background-color: #D4EDDA;
   color: #6E9D79;   
}
